.filter{
	width: 92%;
	margin: 10px auto 5px;
}
.filter .mui-col-xs-6{
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-size: 14px;
	background: #efeff4;
}
.filter .mui-icon{
	font-size: 12px;
}